h1 {
   font-size: 5em;
   text-align: center;
   color: #d912e8;
   border: 1px solid green;
   border-radius: 100px;
}

p {
   text-align: center;
   text-transform: uppercase;
   color: #cc99ff;
   border: 2px solid orange;
   font-size: 3em;
}

body {
   background-color: #99ccff;
}

a {
   font-family: "Arial Black", Gadget, sans-serif;
   color: yellow;
   border: 2px solid yellow;
   border-radius: 20px;
   font-size: 1.5em;
}

h3 {
   word-spacing: 15px;
   text-align: right;
   border: 5px solid red;
   color: #e83d12;
   text-transform: lowercase;
}

li {
   font-size: 30px;
   color: #6fe812;
   padding-bottom: 30px;
   font-size: 3em;
   word-spacing: 12px;
}
  